// Container
.container {
  max-width: ($containerWidth + $containerPadding) + px;
  width: 100%;
  margin: 0 auto;
  padding: 0 $containerSidePadding + px;

  @media (max-width: $breakpoint1450) {
    max-width: 1200px;
  }

  @media (max-width: $breakpoint992) {
    max-width: 970px;
  }

  @media (max-width: $breakpoint768) {
    max-width: 740px;
  }

  @media (max-width: $breakpoint480) {
    max-width: none;
  }
}

// Body & Locked
body {
  font-family: $fontMain;
  &.locked {
    overflow: hidden;
  }
  // Dark mode styles
  &.dark {
    background: #242424;
  }
}

// BTN

.rounded {
  &__btn {
    padding: 12px 24px;

    text-align: center;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: calc(25.6 / 16); /* 25.6px */
    width: 109px;
    height: 50px;
    border-radius: 50px;
    background: $rounded_bg;
    color: $rounded_color;
    transition: background-color 250ms ease, color 250ms ease;
    @media (max-width: $breakpoint992) {
      display: none;
      &.active {
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        z-index: 10;
        background-color: $rounded_color;
        border-radius: 0;
        color: #ffffff;
      }
    }

    &:hover {
      background-color: $rounded_color;
      color: $rounded_bg;
    }
  }
}

// Animations
// Fade
@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
