// ========================= [ Header styles ] =========================
.header {
  &.fixed {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 32px;

  &__btns {
    display: flex;
    align-items: center;
    gap: 31px;
    @media (max-width: $breakpoint480) {
      gap: 0;
    }
  }
}
.logo {
  a {
    color: $primery;
    img {
      @media (max-width: $breakpoint480) {
        max-width: 100px;
      }
    }
  }
}

// Select
.select {
  width: 45px;
  position: relative;
}

.select.is-active .select__body {
  display: block;
}

.select__header {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  width: 45px;
}

.select__current {
  color: $primery;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
}

.select__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  text-align: center;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  transform: rotate(0);
  transition: transform 300ms ease;
}

.select__icon--rotate {
  transform: rotate(180deg);
}

.select__body {
  display: none;
  width: 100%;

  border-top: 0;
  position: absolute;
  left: 0;
  right: 0;
  /* top: 50px; */
  top: 100%;
}

.select__item {
  color: $primeryLigth;

  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  padding: 8px;
  background-color: $selectBody;
  cursor: pointer;
  transition: background-color 300ms ease;
}

.select__item:hover {
  background-color: $rounded_color;
}

// ========================== [ Menu styles ] ==========================
.menu {
  display: flex;
  gap: 40px;
  @media (max-width: $breakpoint1100) {
    gap: 30px;
  }
  // .menu__item
  &__item {
    display: flex;
    position: relative;
  }

  // .menu__item-link
  &__item-link {
    color: $primeryLigth;
    display: flex;
    position: relative;

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 22.4px */
    transition: 0.5s color;
    @media (max-width: $burgerBreakpoint) {
      color: #ffffff;
    }
    &:after {
      position: absolute;
      content: "";
      left: 0;
      bottom: -3px;
      background: #131418;
      height: 1px;
      width: 100%;
      transform: scale(0);
      transition: 0.5s transform;

      // Comment if you need border animation
      display: none;
    }

    &--active {
      color: #000000;
      font-size: 14px;
      font-weight: 500;
      line-height: 160%; /* 22.4px */
    }

    &:hover {
      color: #131418;
      &:after {
        transform: scale(1);
      }
    }
  }

  // Mobile menu styles
  @media screen and (max-width: $burgerBreakpoint) {
    position: fixed;
    background: $secondary;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: none;

    &.active {
      display: flex;
      left: 0;
      top: 0;
      height: 100vh;
      width: 100vw;
      flex-direction: column;
      pointer-events: all;
      justify-content: center;
      align-items: center;
      z-index: 2;
      animation: fade 0.1s linear;
    }
  }
}

// ========================= [ Burger styles ] =========================
.burger {
  display: none;
  background: transparent;
  z-index: 3;
  @media screen and (max-width: $burgerBreakpoint) {
    display: flex;
    position: relative;
    height: 20px;
    width: 30px;

    &.active {
      &:before {
        background: $burgerActiveColor;
        transform: rotate(45deg);
        transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
        top: 8px;
      }

      &:after {
        background: $burgerActiveColor;
        transform: rotate(-45deg);
        bottom: 10px;
        transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
      }

      & span {
        transform: scale(0);
      }
    }

    &:before,
    &:after {
      content: "";
      position: absolute;
      height: 2px;
      width: 100%;
      background: $burgerColor;
      transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    }

    &:before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    span {
      position: absolute;
      top: 9px;
      right: 0;
      width: 100%;
      background: $burgerColor;
      height: 2px;
      transform: scale(1);
      transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
    }
  }
}
